* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .grid-container {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "section"
        "mapa"
        "publi"
        "footer";  
        gap: 10px;
        grid-template-rows: repeat(6 auto);
        grid-template-columns: 1fr;
        
    }
    
    header {
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: url(../img/img-portada.png);
        height: 350px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 30px;
    }
    main {
        grid-area: main;
        background-color: gray;
        grid-column: 1/4;  
    }
    
    section {
        grid-area: section;
        background-color: deeppink;
        
    }
    .mapa {
        grid-area: mapa;
        background-color: darkblue;
        height: 300px;

    
    }
    

    .fotos__trabajos {
        grid-area: section;
        background-color: slateblue;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }
    .fotos__trabajos img {
        width: 100%;
        filter: grayscale(1);
    
    }
    .fotos__trabajos img:hover {
        filter: none;
        width: 800px;
    }
    .fotos__trabajos {
        transition: width 2s;

    }
    
    

    aside {
        grid-area: publi;
        background-color: tomato;
        height: 350px;
        margin-top: 30px;
    }
    footer {
        grid-area: footer;
        
        display: flex;
        justify-content: space-around;
        height: 300px;
        font-size: 30px;
    
        
    }
    #titulo h2 {
    background-color: chartreuse;
    text-align: center;
    color: cornsilk;
}

/* navegacion*/
.menu__navegacion ul {
    background-color: black;
    border-radius: 5px;
    border: solid white;
    
}
.menu__navegacion ul li {
    display: inline;
    padding: 10px;
    font-size: 20px;
    list-style-type: none;
    
}
.menu__navegacion ul li a:hover {
    background-color: black;
    color: orangered;
}
.menu__navegacion ul li a {
    color: papayawhip;
    font-size: 30px;

}
/* logo*/
@keyframes mi-efecto {
    0% {
        width: 100px;
    }
    100%{
        width: 500px;
    }
}
.logo {
    height: 100px;
    animation-name: mi-efecto;
    animation-iteration-count: 2;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-timing-function: linear;
    
    

}



.info__importante p {
    color: oldlace;
    margin: 25px;
    letter-spacing: 3px;
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
    font-family: 'Lobster Two', cursive;

} 
.info__importante h2 {
    color: white;
    text-align: center;
    padding: 10px;
    
}
.info__importante h3{
    padding: 20px;
    color: thistle;
    text-align: center;
}

.mapa iframe {
    width: 50%;
    height: 100%;
}
/* media queries home*/
/* ver */
@media screen and (min-width:425px) and (max-width:767px){
    .grid-container {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "section"
        "mapa"
        "publi"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: (6, auto);
        background-color: black;   
    }
    .header__navegacion {
        grid-area: header;
    }
    .info__importante {
        grid-area: main;
    }
    .trabajos {
        grid-area: section;
    }
    .fotos__trabajos {
        display: flex;
        flex-direction: column;
    }
    .mapa {
        grid-area: mapa;
    }
    aside {
        grid-area: publi;
    }
    footer {
        grid-area: footer;
    }


    
}

 /* pagina nosotros*/

@media screen and (min-width:425px) and (max-width: 768px){
     
    .grid-container__nosotros {
        display: grid;
        grid-template-areas: 
        "header header"
        "texto texto"
        "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: violet;    
    }
    .header__nosotros {
        grid-area: header;
        display: flex;

    }
    .info__nosotros {
        grid-area: texto;
        background-color: brown;
        margin-top: 50px;
        padding: 25px;
    }
    
    .footer__nosotros {
        grid-area: footer;
        background-color: turquoise;

    }
}

/* paginas ubicacion*/

.pag-ubi {
    background-color: lightsteelblue;
}
@media screen and (min-width: 426px) and (max-width: 767px){
    .grid__ubi {
        display: grid;
        grid-template-areas: 
        "header"
        "mapa"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: mediumpurple;
    }
    .header__ubi {
        grid-area: header;
    }
    .mapa__ubi {
        grid-area: mapa;  
    }
    .pie__ubi {
        grid-area: Footer;
             
    }   
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .grid__ubi {
        display: grid;
        grid-template-areas: 
        "header header"
        "mapa footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50% 50%;
        background-color: yellow;
    }
    .header__ubi {
        grid-area: header;
    }
    .mapa__ubi {
        grid-area: mapa;
        
    }
    .pie__ubi {
        grid-area: Footer;
        
    }   

}
/* pagina contacto*/
@media screen and (min-width: 426px) and (max-width: 767px) {
    .grid-contacto {
        display: grid;
        grid-template-areas: 
        "header"
        "formulario"
        "pie";
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr 1fr;
    }
    .header__contacto {
        grid-area: header;
    }
    .formulario {
        grid-area: formulario;
        
    }
    .pie__contac {
        grid-area: pie;
    }
    .formulario fieldset {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: auto;
    }
   
 
}
input {
    height: 50px;
    transition: all 1s;

}
input:focus {
    background-color: rosybrown;
}
input::placeholder {
    color: red;
}
/* pagina servicios*/











    
























